<div{{ attributes }}>
    <h2>Création d'un article</h2>
    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save'
        }
    }) }}
    {{ form_widget(form) }}
    <button>Valider</button>
    {{ form_end(form) }}
</div>
